/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 80px;
	padding-bottom: 20px;
}

h4[id]:hover::before {
	content: '» ';
	display: inline-block;
	position: absolute;
	color: #cccccc;
	left: -10px;
}

.h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 14px;
	display: block;
	padding-bottom: 4px;
}

.h4 {
	color: #c7254e;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 14px;
	display: block;
	padding-bottom: 4px;
}
.candy {
    display: inline-block;
    margin-right: 5px;
    width: 180px;
    margin-top: -5px;
}

.container .jumbotron, .container-fluid .jumbotron {
	padding: 20px;
	background: url("../img/diamond_upholstery.png");
}

.jumbotron h1, .jumbotron .h1 {
	font-size: 40px;
}

.jumbotron p {
	font-size: 21px;
}

.stats {
	font-size: 12px;
	color: #999999;
}

pre  {
	/*background: #272822 !important;*/
}

.slider .inner {
    min-height: 160px;
}

ul.key-facts {
    padding-left: 20px;
}

.main ul li {
	margin-bottom: 4px;
}
.main ul ul {
	margin-bottom: 12px;
}

var.label {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}
